body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 12px;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

.works_on_smartphone main {
    flex-direction: column;
}